#taskListWrap{
  list-style: none;
  padding: 3px;
  margin: 3px;
}
#taskListWrap li {
  padding: 3px;
  margin: 3px;
}
#taskListWrap li .task-text{
  
}
#taskListWrap li .task-create-time{
  padding: 3px 3px 3px 20px;
  color: powderblue;
  font-style: italic;
}
#taskListWrap li .task-edit-wrap input{
  outline: none;
  border-width: 0;
}

.task-li{
}
.task-done .task-text{
  text-decoration: line-through;
}
.remove-task{
  display: none;
  cursor: pointer;
}
.task-li:hover .task-text{
  background-color: #ccc;
}
.task-li:hover .remove-task{
  display: inline;
}
.task-li.task-edit-mode .task-text{
  display: none;
}
.task-li.task-edit-mode .task-create-time{
  display: none;
}
.task-edit-wrap{
  display: none;
}
.task-li.task-edit-mode .task-edit-wrap{
  display: inline;
}
#taskInput{
}

#tasksPanelWrap #taskListWrap{
  text-align: left;
}
.tasks-panel-wrap{

}
.task-list-wrap{
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
  background: cadetblue;
  color: snow;
}