<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> TODO </title>
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="author" content="Your Name Here" />
    <meta name="Copyright" content="Copyright Your Name Here 2013. All Rights Reserved." />
    <script type="text/javascript" src="jquery.js"></script>
    <style type="text/css">
      .task-li{
        width: 200px;
      }
      .task-done .task-text{
        text-decoration: line-through;
      }
      .remove-task{
        display: none;
        cursor: pointer;
      }
      .task-li:hover .task-text{
        background-color: #ccc;
      }
      .task-li:hover .remove-task{
        display: inline;
      }
      .task-li.task-edit-mode .task-text{
        display: none;
      }
      .task-edit-wrap{
        display: none;
      }
      .task-li.task-edit-mode .task-edit-wrap{
        display: inline;
      }
    </style>
</head>
<body>

<h3>TODO App</h3>

<p>Your tasks </p>
<ul id="taskListWrap"></ul>
<input type="text"  id="taskInput" name="task_input" value=""/>
<p>Press enter to add the task  to list. Pres Esc to clear the input.</p>
<script type="text/javascript">
  // Function to save task li
  saveTaskText = function (thisLi) {
    var newTaskText = thisLi.find('.task-edit-wrap>input').val();
    thisLi.find('.task-text').html(newTaskText);
    thisLi.removeClass('task-edit-mode');
  }
      
  $(document).ready(function(){

      // Handle keyup on task input
      $(document).on('keyup', '#taskInput', function (evt){
          
          // To add the text
          if(evt.keyCode === 13 && $(this).val().length > 0){
            // Enter button pressed
            // Add text to list as task
            $('#taskListWrap').append('<li class="task-li"><input type="checkbox" name="task" class="task-checkbox"/>'
              + '<span class="task-text">'
              + $(this).val() 
              + '</span>'
              + '<span class="task-edit-wrap"><input type="text" name="task-edit-input"/></span>'
              + '<span class="remove-task">' 
              + '&times;'
              + '</span>'
              + '</li>');
            $(this).val('');
          }

          // Empty the input box if "Esc" key is pressed  
          if(evt.keyCode === 27){
              $(this).val('');  
          }
      });

      // Handle mark done/undone click
      $(document).on('click', '.task-checkbox', function () {
        var parentLi = $(this).parent('.task-li');
        parentLi.removeClass('task-done');
        if($(this).is(':checked')){
          parentLi.addClass('task-done');
        }
      });

      // Handle remove button click
      $(document).on('click', '.remove-task', function () {
        var parentLi = $(this).parent('.task-li');
        parentLi.remove();
      });

      // Hnadle task text click
      $(document).on('click', '.task-text', function (evt) {
        evt.stopPropagation();
        var parentLi = $(this).parent('.task-li');
        parentLi.addClass('task-edit-mode');
        if(parentLi.hasClass('task-edit-mode')){
          parentLi.find('.task-edit-wrap>input').val(parentLi.find('.task-text').html())
          parentLi.find('.task-edit-wrap>input').focus();
        }
      });

      // Handle task input click
      $(document).on('click', '.task-edit-wrap>input', function (evt) {
        evt.stopPropagation();
        

      });      

      // Handle task input keyup
      $(document).on('keyup', '.task-edit-wrap>input', function (evt) {
        evt.stopPropagation();
        if(evt.keyCode === 13){
          var parentLi = $(this).parent('.task-li');
          saveTaskText(parentLi);
        }

      });      

      // Handle body click
      $(document).on('click', 'body', function(evt){
        evt.stopPropagation();
        $('.task-li.task-edit-mode').each(function(){
          var thisLi = $(this);
          saveTaskText(thisLi);
        });
      });

      

  });
</script>
</body>
</html> 