<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> TODO </title>
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="author" content="TODO App" />
    <meta name="Copyright" content="Copyright Your Name Here 2018. All Rights Reserved." />
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="bootstrap-theme.min.css"/>  

    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="jquery-ui.min.css"/>
    <link rel="stylesheet" href="jquery-ui.theme.min.css"/>
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="jquery-ui.min.js"></script>
    <script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
      

    <p class="text-center">TODO App</p>

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>To be doing good deeds is man's most glorious task.</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h4 class="text-center">
          <span id="users-current-date"></span>
        </h4>
        <h3 class="text-center">
          <span id="users-current-time"></span>
        </h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-7 tasks-wrap">
        
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="tasksPanelWrap">
              <p><span class="total-tasks"></span> </p>
              <ul id="taskListWrap"></ul>
              <input type="text"  id="taskInput" name="task_input" value="" class="form-control" />
              <p>Press enter to add the task  to list. Pres Esc to clear the input.</p>
            </div>    
          </div>
        </div>


      </div>
      <div class="col-md-3 reminder-wrap">
        reminders
      </div>
    </div>
    


    </div>


<script type="text/javascript" src="app.js"></script>
</body>
</html> 
